interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/
  response:
    body:
      string: '{"admin":"https://data-warehouse.pivot/bulk/api/admin/","auth":"https://data-warehouse.pivot/bulk/api/auth/","contenttypes":"https://data-warehouse.pivot/bulk/api/contenttypes/","sessions":"https://data-warehouse.pivot/bulk/api/sessions/","gis":"https://data-warehouse.pivot/bulk/api/gis/","django_celery_beat":"https://data-warehouse.pivot/bulk/api/django_celery_beat/","django_celery_results":"https://data-warehouse.pivot/bulk/api/django_celery_results/","authtoken":"https://data-warehouse.pivot/bulk/api/authtoken/","bulk_importer":"https://data-warehouse.pivot/bulk/api/bulk_importer/","rails_lims":"https://data-warehouse.pivot/bulk/api/rails_lims/","plant_lims":"https://data-warehouse.pivot/bulk/api/plant_lims/","f_and_f":"https://data-warehouse.pivot/bulk/api/f_and_f/","bioprocessing":"https://data-warehouse.pivot/bulk/api/bioprocessing/","spectro":"https://data-warehouse.pivot/bulk/api/spectro/","uav":"https://data-warehouse.pivot/bulk/api/uav/","nproc":"https://data-warehouse.pivot/bulk/api/nproc/","lab":"https://data-warehouse.pivot/bulk/api/lab/","iv":"https://data-warehouse.pivot/bulk/api/iv/","product":"https://data-warehouse.pivot/bulk/api/product/","reports":"https://data-warehouse.pivot/bulk/api/reports/","in10t":"https://data-warehouse.pivot/bulk/api/in10t/","temporary_models":"https://data-warehouse.pivot/bulk/api/temporary_models/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/uav/
  response:
    body:
      string: '{"flight":"https://data-warehouse.pivot/bulk/api/uav/flight/","orthotile":"https://data-warehouse.pivot/bulk/api/uav/orthotile/","plotgeometry":"https://data-warehouse.pivot/bulk/api/uav/plotgeometry/","plotmeasurement":"https://data-warehouse.pivot/bulk/api/uav/plotmeasurement/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/uav/plotgeometry/1
  response:
    body:
      string: '{"id":1,"created_at":"2020-09-04T17:04:04.705776Z","updated_at":"2020-09-04T17:04:04.705804Z","geometry":"SRID=4326;POLYGON
        ((-83.55068293720581 31.5457992416781, -83.5507207562792 31.5458049068535,
        -83.55070009502769 31.5459044301479, -83.5506623657858 31.5458987649786, -83.55068293720581
        31.5457992416781))","imported_from":"https://data-warehouse.pivot/bulk/api/bulk_importer/bulkimport/1319","plot":"https://data-warehouse.pivot/bulk/api/plant_lims/plot/11695"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/uav/plotgeometry/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at","type":"datetime","read_only":true,"ui":{"label":"updated
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"geometry","type":"text","read_only":false,"ui":{"label":"geometry","help":"Shapefile
        .shp for plot"},"validation":{"required":true},"extra":{},"translated":false},{"key":"imported_from","type":"foreignkey","read_only":true,"ui":{"label":"imported
        from"},"validation":{"required":false},"extra":{},"translated":false,"related_endpoint":{"app":"bulk_importer","singular":"bulkimport","plural":"bulkimports"}},{"key":"plot","type":"foreignkey","read_only":false,"ui":{"label":"plot"},"validation":{"required":true},"extra":{},"translated":false,"related_endpoint":{"app":"plant_lims","singular":"plot","plural":"plots"}},{"key":"_meta","app_label":"uav","model_name":"plotgeometry","django_model_name":"PlotGeometry"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
