interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/
  response:
    body:
      string: '{"bulk_importer":"https://data-warehouse.pivot/bulk/api/bulk_importer/","uav":"https://data-warehouse.pivot/bulk/api/uav/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/
  response:
    body:
      string: '{"bulkimport":"https://data-warehouse.pivot/bulk/api/bulk_importer/bulkimport/","examplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplefortesting/","relatedexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/relatedexamplefortesting/","namedexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/namedexamplefortesting/","relatednamedexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/relatednamedexamplefortesting/","relatedmtmexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/relatedmtmexamplefortesting/","storedquery":"https://data-warehouse.pivot/bulk/api/bulk_importer/storedquery/","examplegfkfortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplegfkfortesting/","examplemtm":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplemtm/","examplemtmthrough":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplemtmthrough/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/bulkimport/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at","type":"datetime","read_only":true,"ui":{"label":"updated
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"upload_type","type":"select","read_only":false,"ui":{"label":"upload
        type"},"validation":{"required":true},"extra":{},"translated":false,"choices":[{"label":"Plant
        LIMS Experiment Data","value":"excel|plant_lims.plant_lims_experiment"},{"label":"Plant
        LIMS Plot","value":"excel|plant_lims.plant_lims_plot"},{"label":"Yield Aggregates","value":"excel|temporary_models.yield_aggregates"},{"label":"Temporary
        Zonal Stats","value":"excel|temporary_models.zonal_stats"},{"label":"Raw Combine","value":"excel|temporary_models.raw_combine"},{"label":"MSU-BI
        Liquid Formulation","value":"excel|f_and_f.msu_liquid_viability_assay"},{"label":"Sig:
        Greenhouse Data","value"[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/examplefortesting/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at","type":"datetime","read_only":true,"ui":{"label":"updated
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"text","type":"text","read_only":false,"ui":{"label":"text"},"validation":{"required":true},"extra":{},"translated":false},{"key":"date_time","type":"datetime","read_only":false,"ui":{"label":"date
        time"},"validation":{"required":true},"extra":{},"translated":false},{"key":"integer","type":"number","read_only":false,"ui":{"label":"integer"},"validation":{"required":false,"min":-2147483648,"max":2147483647},"extra":{},"translated":false},{"key":"imported_from","type":"foreignkey","read_only":true,"ui":{"label":"imported
        from"},"validation":{"required":false},"extra":{},"translated":false,"related_endpoint":{"app":"bulk_importer","singular":"bulkimport","plural":"bulkimports"}},{"key":"_meta","app_label":"bulk_importer","model_name":"examplefortesting","django_model_name":"ExampleForTesting"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/relatedexamplefortesting/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/namedexamplefortesting/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at","type":"datetime","read_only":true,"ui":{"label":"updated
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"name","type":"text","read_only":false,"ui":{"label":"name"},"validation":{"required":true,"max":256},"extra":{},"translated":false},{"key":"text","type":"text","read_only":false,"ui":{"label":"text"},"validation":{"required":true,"max":256},"extra":{},"translated":false},{"key":"imported_from","type":"foreignkey","read_only":true,"ui":{"label":"imported
        from"},"validation":{"required":false},"extra":{},"translated":false,"related_endpoint":{"app":"bulk_importer","singular":"bulkimport","plural":"bulkimports"}},{"key":"_meta","app_label":"bulk_importer","model_name":"namedexamplefortesting","django_model_name":"NamedExampleForTesting"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/relatednamedexamplefortesting/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"transla[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/relatedmtmexamplefortesting/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translate[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/storedquery/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"name","type":"text","read_only":false,"ui":{"label":"name","help":"Unique
        name of the QuerySet to store"},"validation":{"required":true,"max":256},"extra":{},"translated":false},{"key":"slug","type":"text","read_only":true,"ui":{"label":"slug"},"validation":{"required":false},"extra":{},"translated":false},{"key":"fields","type":"text","read_only":false,"ui":{"label":"fields","help":"Limits
        data set to columns of the specified field(s). Example: fields: field1,field2,fk__field3"},"validation":{"required":false},"extra":{},"translated":false},{"key":"filter","type":"text","read_only":false,"ui":{"label":"filter","help":"Limits
        data set to rows containing objects that match the given field(s). Example:
        filter: text=text1|text=text2&id__startswith=123"},"validation":{"required":false},"extra":{},"translated":false},{"key":"order","type":"text","read_only":false,"ui":{"label":"order","help":"Ordered
        data set by the given field(s); Default is name. Example: order: field"},"validation":{"required":false,"max":256},"extra":{},"translated":false},{"key":"page","type":"number","read_only":false,"ui":{"label":"page","help":"Specified
        page number of the data set. Example: page: 1"},"validation":{"required":false,"min":1,"max":2147483647},"extra":{},"translated":false},{"key":"page_size","type":"number","read_only":false,"ui":{"label":"page
        size","help":"Limits the data set to specified number of data points. Example:
        page size: 1"},"validation":{"required":false,"min":1,"max":2147483647},"extra":{},"translated":false},{"key":"model","type":"foreignkey","read_only":false,"ui":{"label":"model"},"validation":{"required":true},"extra":{},"translated":false,"related_endpoint":{"app":"contenttypes","singular":"contenttype","plural":"contenttypes"}},{"key":"_meta","app_label":"bulk_importer","model_name":"storedquery","django_model_name":"StoredQuery"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/examplegfkfortesting/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":fals[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/examplemtm/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/examplemtmthrough/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/uav/
  response:
    body:
      string: '{"flight":"https://data-warehouse.pivot/bulk/api/uav/flight/","orthotile":"https://data-warehouse.pivot/bulk/api/uav/orthotile/","plotgeometry":"https://data-warehouse.pivot/bulk/api/uav/plotgeometry/","plotmeasurement":"https://data-warehouse.pivot/bulk/api/uav/plotmeasurement/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/uav/flight/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at","[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/uav/orthotile/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/uav/plotgeometry/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated[...]
- request:
    body: null
    headers:
      Authorization:
      - Token token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/uav/plotmeasurement/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"upda[...]
