interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/
  response:
    body:
      string: '{"admin":"https://data-warehouse.pivot/bulk/api/admin/","auth":"https://data-warehouse.pivot/bulk/api/auth/","contenttypes":"https://data-warehouse.pivot/bulk/api/contenttypes/","sessions":"https://data-warehouse.pivot/bulk/api/sessions/","gis":"https://data-warehouse.pivot/bulk/api/gis/","django_celery_beat":"https://data-warehouse.pivot/bulk/api/django_celery_beat/","django_celery_results":"https://data-warehouse.pivot/bulk/api/django_celery_results/","authtoken":"https://data-warehouse.pivot/bulk/api/authtoken/","bulk_importer":"https://data-warehouse.pivot/bulk/api/bulk_importer/","rails_lims":"https://data-warehouse.pivot/bulk/api/rails_lims/","plant_lims":"https://data-warehouse.pivot/bulk/api/plant_lims/","f_and_f":"https://data-warehouse.pivot/bulk/api/f_and_f/","bioprocessing":"https://data-warehouse.pivot/bulk/api/bioprocessing/","spectro":"https://data-warehouse.pivot/bulk/api/spectro/","uav":"https://data-warehouse.pivot/bulk/api/uav/","nproc":"https://data-warehouse.pivot/bulk/api/nproc/","lab":"https://data-warehouse.pivot/bulk/api/lab/","iv":"https://data-warehouse.pivot/bulk/api/iv/","product":"https://data-warehouse.pivot/bulk/api/product/","reports":"https://data-warehouse.pivot/bulk/api/reports/","in10t":"https://data-warehouse.pivot/bulk/api/in10t/","temporary_models":"https://data-warehouse.pivot/bulk/api/temporary_models/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/
  response:
    body:
      string: '{"bulkimport":"https://data-warehouse.pivot/bulk/api/bulk_importer/bulkimport/","examplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplefortesting/","relatedexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/relatedexamplefortesting/","namedexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/namedexamplefortesting/","relatednamedexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/relatednamedexamplefortesting/","relatedmtmexamplefortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/relatedmtmexamplefortesting/","storedquery":"https://data-warehouse.pivot/bulk/api/bulk_importer/storedquery/","examplegfkfortesting":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplegfkfortesting/","examplemtm":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplemtm/","examplemtmthrough":"https://data-warehouse.pivot/bulk/api/bulk_importer/examplemtmthrough/"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: GET
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/bulkimport/1319
  response:
    body:
      string: '{"id":1319,"created_at":"2020-06-11T19:25:45.506893Z","updated_at":"2020-06-11T19:25:45.506916Z","upload_type":"uav|uav_uploader","data_file":"https://data-warehouse.pivot/bulk/api_download/Chula_2019_06_06_6yWzcfk.zip","notes":"","update":false,"extra_data":{},"results":null,"created_by":"https://data-warehouse.pivot/bulk/api/auth/user/5"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Token fake-token
    method: OPTIONS
    uri: https://data-warehouse.pivot/bulk/api/bulk_importer/bulkimport/
  response:
    body:
      string: '[{"key":"id","type":"number","read_only":true,"ui":{"label":"ID"},"validation":{"required":false},"extra":{},"translated":false},{"key":"created_at","type":"datetime","read_only":true,"ui":{"label":"created
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"updated_at","type":"datetime","read_only":true,"ui":{"label":"updated
        at"},"validation":{"required":false},"extra":{},"translated":false},{"key":"upload_type","type":"select","read_only":false,"ui":{"label":"upload
        type"},"validation":{"required":true},"extra":{},"translated":false,"choices":[{"label":"Plant
        LIMS Experiment Data","value":"excel|plant_lims.plant_lims_experiment"},{"label":"Plant
        LIMS Plot","value":"excel|plant_lims.plant_lims_plot"},{"label":"Yield Aggregates","value":"excel|temporary_models.yield_aggregates"},{"label":"Temporary
        Zonal Stats","value":"excel|temporary_models.zonal_stats"},{"label":"Raw Combine","value":"excel|temporary_models.raw_combine"},{"label":"MSU-BI
        Liquid Formulation","value":"excel|f_and_f.msu_liquid_viability_assay"},{"label":"Sig:
        Greenhouse Data","value"[...]
